/* App.css */

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 790px;
}

.header h1 {
  margin: 0;
  color: red;
}

.Search-bar {
  flex: 1;
  margin-left: 80px;
  margin-right: 80px;
  width: 37vw;
}

.Search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  font-size: 16px;
}

.Register button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 250px;
  height: 7vh;
  width: 12vw;
}

.Register button:hover {
  background-color: #0056b3;
}
